{% extends 'base.html.twig' %}



{% block body %}
<div class="container-fluid map">
	<div class="col-md-12">
		<div class="col-md-9 street">
			<div></div>
    		<div id="pano"></div>

		</div>
		<div class="col-md-3">
			<div id="map" class="col-md-12 carte">
			</div>
			<div class="col-md-12 tableau">
  				<h3>Pizzeria</h3>
          <h3>Indice :</h3>
          <h3>Temps restant:
            <div id="compteur"></div>
          </h3>
          <h3>Distance de la cible :
            <div id="distance_target"></div>
          </h3>
          <h3>
            <div id="statut"></div>
          </h3>
			</div>

		</div>
	</div>
</div>
<script>

var distance_precise = 1000;
var distance = 1000;

function initialize() {
  var pos_init = {lat: 48.4466589, lng: 1.48377300};  
  var map = new google.maps.Map(document.getElementById('map'), {
    center: pos_init,
    zoom: 14
  });
  var panorama = new google.maps.StreetViewPanorama(
      document.getElementById('pano'), {
        position: pos_init,
        pov: {
          heading: 34,
          pitch: 10
        }
      });
  map.setStreetView(panorama);

  var gare_chartres = new google.maps.LatLng(48.4482023,1.481312800);
  var compteur=document.getElementById('compteur');
  var distance_target=document.getElementById('distance_target');
  var statut=document.getElementById('statut');
  statut.innerHTML= "Partie en cours..";
  
  panorama.addListener('position_changed', function() {

     var latitude = panorama.getPosition().lat();
     var longitude = panorama.getPosition().lng();
     var current = new google.maps.LatLng(latitude,longitude);
     distance_precise = google.maps.geometry.spherical.computeDistanceBetween( gare_chartres, current );
     distance = distance_precise.toFixed(2);
     distance_target.innerHTML= distance +" "+"mètres";
     
     if (distance<50) {
        statut.innerHTML= "Gagné, vous êtes à la gare !";
     }
  });

}

var duree="180";
t();

function t() {
  

  s=duree;
  m=0;
  h=0;
  
  if(s<0) {
    compteur.innerHTML="terminé<br />"+"<a href=http://lien1.fr></a>";
  } else if (distance<50) {
        if(s>59) {
          m=Math.floor(s/60);
          s=s-m*60;
        }
        if(m>59) {
          h=Math.floor(m/60);
          m=m-h*60;
        }
        if(s<10) {
          s="0"+s;
        }
        if(m<10) {
          m="0"+m
        }
    compteur.innerHTML=h+":"+m+":"+s+"<br /><a href=http://lien2.fr></a>"
    return;
    }
    else  {
      if(s>59) {
        m=Math.floor(s/60);
        s=s-m*60;
      }
      if(m>59) {
        h=Math.floor(m/60);
        m=m-h*60;
      }
      if(s<10) {
        s="0"+s;
      }
      if(m<10) {
        m="0"+m
      }
      compteur.innerHTML=h+":"+m+":"+s+"<br /><a href=http://lien2.fr></a>"
      }
            
      duree=duree-1;
      window.setTimeout("t();",999);
}




</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKoRwoiN_pQDL5up1z4KcoLA-cBHkekn8&signed_in=true&callback=initialize">
</script>
 

                



{% endblock %}