@font-face {
font-family: 'Glyphicons Halflings';
src: url('../fonts/glyphicons-halflings-regular.eot');
src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
@font-face {
    font-family: 'Chrono'; 
    src: url('Open_24.ttf');
}
/** navbar
 */

 .navbar{
 	margin-bottom:0px;
 }
/** Home page
 */
 html, body{
	height:100%;
}
.titre1 {
	color: rgb(92, 77, 62);
	font-family: 'Chrono';
}
.page_choix_missions{
	padding-top:40px;
	background-image: url(../img/aventurier3.jpg);
	background-position: center;
	background-size: cover;
	height:90vh;
}

.page_choix_missions h1{
	text-align:center;
	margin-top:0px;
	margin-bottom:50px;
	color: black;
}
.vide1 {
	height: 80px;
}

.container-fluid {
	margin: 0px;
}

.mission_block {
	height: 150px;
	border: rgb(92, 77, 62) 3px solid;
	box-shadow: 6px 6px 0px rgb(92, 77, 62);
	border-radius: 5px;
	margin-bottom:20px;
	padding-left: 0px;
	background-color: #F1F1F1;
	padding-right: 0px;
}

/** Index
 */
.rambo {
	background: url(../img/mission.jpg);
	background-position: center;
	background-size: cover;
	height:100vh;
	
}
.blanc {
	background-color: rgba(223, 223, 223, 0.8);
	border-radius: 5px;
}
.vide {
	height: 200px;
}

/** Mission
 */
.mission {
	background: url(../img/mission1.jpg);
	background-position: center;
	background-size: cover;
	height:90vh;
	
}
.theme {
	border:solid rgb(92, 77, 62) 5px;
	border-radius: 5px;
	height: 320px;
	background-color: rgba(92, 77, 62, 0.5);
}
.espace {
	height: 100px;
}
/** Map
 */
.map {
	background-color: rgba(92, 77, 62, 0.5);
	margin-right: -45px;
}
.street {
	height: 100%;
	margin: 0;
    padding: 0;
    border:solid rgb(92, 77, 62) 5px;
}
 .carte {
 	height: 200px;
 	border:solid rgb(92, 77, 62) 5px;
}
 .tableau {
 	height: 400px;
 	border:solid rgb(92, 77, 62) 5px;
}
 #map {
	height: 200px;
}
 #pano {
    float: left;
    height: 600px;
    width: 100%;
}
@keyframes fadeinout {
   from { opacity: 0; }
   50% { opacity: 1;}
   to { opacity: 0; }
}

.compteur {
	color: red;
	font-size: 35px;
	animation: fadeinout 1s infinite;
}
.target {
	font-size: 35px;
	color: blue;
}

